.about {
    display: flex;
    align-items: center;
}

.about-img {
    width: 300px;
    margin-right: 75px;
    border-radius: 50%;
}

.about-me {
    margin-bottom: 75px;
}

@media screen and (max-width: 768px), screen and (orientation: portrait) {
    .about {
        flex-direction: column;
    }
    .about-img {
        margin-right: 0;
    }
    .about-me {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 330px) {
    .about-img {
        width: calc(100vw - 30px);
    }
}
