.my-work-section {
    max-height: 0;
    margin: 8px 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.work-changers {
    color: #FC4A1A;
}

.work-changer {
    position: relative;
    cursor: pointer;
}

.work-changer:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #FC4A1A;
    content: "\A";
    transition: width 0.3s ease-in-out;
}

.work-changer:hover:after {
    width: 100%;
    transition: width 0.3s ease-in-out;
}

[data-section-selected=all] [data-work-changer=all]:after,
[data-section-selected=apps] [data-work-changer=apps]:after,
[data-section-selected=web] [data-work-changer=web]:after,
[data-section-selected=game] [data-work-changer=game]:after,
[data-section-selected=mcu] [data-work-changer=mcu]:after,
[data-section-selected=mobile] [data-work-changer=mobile]:after,
[data-section-selected=photo] [data-work-changer=photo]:after {
    width: 100%;
}

[data-section-selected=all] .my-work-section,
[data-section-selected=apps] .my-work-section.apps,
[data-section-selected=web] .my-work-section.web,
[data-section-selected=game] .my-work-section.game,
[data-section-selected=mcu] .my-work-section.mcu,
[data-section-selected=mobile] .my-work-section.mobile,
[data-section-selected=photo] .my-work-section.photo {
    max-height: 1200px;
    transition: max-height 0.3s ease-in-out;
}

.my-work-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.my-work-header i {
    margin: 0 16px 0 4px;
    color: #FC4A1A;
    font-size: 22px;
}

.my-work-header h2 {
    margin: 0;
    font-size: 20px;
}

.my-work-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work {
    position: relative;
    width: 304px;
    margin: 16px 0;
    overflow: hidden;
}

.work a {
    text-decoration: none;
    cursor: pointer;
}

.work-inner {
    display: flex;
    /*position: absolute;
    top: 0;
    left: 0;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    content: '\A';
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.work:hover .work-inner {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.work img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.work h3,
.work h4 {
    margin: 0;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.work h3 {
    font-size: 22px;
}

.work h4 {
    font-size: 18px;
}

@media screen and (max-width: 960px),
screen and (orientation: portrait) {
    .work {
        width: 49%;
    }
}

@media screen and (max-width: 500px) {
    .my-work-inner {
        justify-content: space-around;
    }

    .work {
        width: 100%;
    }
}